<html>
<html>
<head>
	<title>About Parking Management System</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<style>
	body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #333;
}

header {
	background-color:#272c4a;
	color: #fff;
	text-align: center;
	padding: 20px;
}

h1 {
	margin: 0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

footer {
	background-color: #f8f9fa;
	color: #333;
	text-align: center;
	padding: 10px;
}
</style>
<body>
	<header>
		<h1>About Parking Inventory Management System</h1>
	</header>

	<div class="container">
		<p>The Parking Inventory Management System is a state-of-the-art system that provides efficient and effective management of parking facilities. Our system is designed to help parking lot owners and managers improve their operations, increase revenue, and provide better service to their customers.</p>

		<p>Our system provides real-time information on available parking spaces, occupancy levels, and revenue. It also includes features such as automated payment systems, license plate recognition, and parking guidance systems to streamline the parking process and reduce congestion.</p>

		<p>With our system, parking lot owners and managers can easily monitor and manage their parking facilities from anywhere, at any time. This means they can optimize their operations, reduce costs, and provide a better overall experience for their customers.</p>
		<center><img src="" th:src="@{/images/gif2.gif}" style="height: 300px; width: 300px;"><center>
	</div>

	<footer>
		<p>&copy; 2023 Parking Inventory Management System</p>
	</footer>
</body>
</html>